{% extends "layout.html" %}
{% block title_block %}About{% endblock %}
{% block body_raw %}
  <div class="hero-wrap js-fullheight"
       style="background-image: url({{ url_for('static', filename='images/bluesnackplates.png') }});">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
           data-scrollax-parent="true">
        <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
          <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a
              href="index">Home</a></span> <span>About</span></p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">About Us</h1>
        </div>
      </div>
    </div>
  </div>
  <section class="ftco-section">
    <div class="container">
      <div class="row d-md-flex">
        <div class="col-md-6 ftco-animate img about-image"
             style="background-image: url({{ url_for('static', filename='images/brunch.jpg') }}">
        </div>
        <div class="col-md-6 ftco-animate p-md-5">
          <div class="row">
            <div class="col-md-12 nav-link-wrap mb-5">
              <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-whatwedo-tab" data-toggle="pill" href="#v-pills-whatwedo"
                   role="tab" aria-controls="v-pills-whatwedo" aria-selected="true">What we do</a>

                <a class="nav-link" id="v-pills-mission-tab" data-toggle="pill" href="#v-pills-mission" role="tab"
                   aria-controls="v-pills-mission" aria-selected="false">Our mission</a>

                <a class="nav-link" id="v-pills-goal-tab" data-toggle="pill" href="#v-pills-goal" role="tab"
                   aria-controls="v-pills-goal" aria-selected="false">Our goal</a>
              </div>
            </div>
            <div class="col-md-12 d-flex align-items-center">

              <div class="tab-content ftco-animate" id="v-pills-tabContent">

                <div class="tab-pane fade show active" id="v-pills-whatwedo" role="tabpanel"
                     aria-labelledby="v-pills-whatwedo-tab">
                  <div>
                    <h2 class="mb-4">Best snack recommendations</h2>
                    <p>We are committed to providing the best possible, snack-friendly, recommendation service.
                      We are constantly seeking improving our application, to make the user experience better
                      and thereby enable the user to truly enjoy our mutual passion - snacking!</p>
                  </div>
                </div>

                <div class="tab-pane fade" id="v-pills-mission" role="tabpanel" aria-labelledby="v-pills-mission-tab">
                  <div>
                    <h2 class="mb-4">Here for you</h2>
                    <p>We want to create an application, which makes people's taste buds reach heaven.
                      We want to bring closer the community, which can express their feelings, straight from the nerve
                      roots
                      of their tongue tips, to the portal full of snack connoisseurs!</p>
                  </div>
                </div>

                <div class="tab-pane fade" id="v-pills-goal" role="tabpanel" aria-labelledby="v-pills-goal-tab">
                  <div>
                    <h2 class="mb-4">Help Our Customer</h2>
                    <p>Choices can be hard. And so can be a candy bar!</p>
                    <p>Let's make it easier to chew.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-start mb-5 pb-3">
        <div class="col-md-7 heading-section ftco-animate">
          <span class="subheading">FAQS</span>
          <h2 class="mb-4"><strong>Frequently</strong> Ask Question</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ftco-animate">
          <div id="accordion">
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#menuone" aria-expanded="true"
                       aria-controls="menuone">Can I search for a snack? <span class="collapsed"><i
                        class="icon-plus-circle"></i></span><span class="expanded"><i
                        class="icon-minus-circle"></i></span></a>
                  </div>
                  <div id="menuone" class="collapse show">
                    <div class="card-body">
                      <p>Yes! Go to the home page, type your favourite snack name in the search bar and hit enter!</p>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#menutwo" aria-expanded="false"
                       aria-controls="menutwo">What does the admin eat?<span class="collapsed"><i
                        class="icon-plus-circle"></i></span><span class="expanded"><i
                        class="icon-minus-circle"></i></span></a>
                  </div>
                  <div id="menutwo" class="collapse">
                    <div class="card-body">
                      <p>Whatever he can find next to his keyboard.</p>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#menu3" aria-expanded="false"
                       aria-controls="menu3">How to create an account?<span class="collapsed"><i
                        class="icon-plus-circle"></i></span><span class="expanded"><i
                        class="icon-minus-circle"></i></span></a>
                  </div>
                  <div id="menu3" class="collapse">
                    <div class="card-body">
                      <p>Go to the registration page, by clicking the "Register" button from the navigation bar
                        (top-right corner) and complete all the fields.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#menu4" aria-expanded="false"
                       aria-controls="menu4">I am a company representative. How can I register?<span
                        class="collapsed"><i
                        class="icon-plus-circle"></i></span><span class="expanded"><i
                        class="icon-minus-circle"></i></span></a>
                  </div>
                  <div id="menu4" class="collapse">
                    <div class="card-body">
                      <p>In the registration form tick the "Are you a company or a distributor?"</p>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#menu5" aria-expanded="false"
                       aria-controls="menu5">I'm hungry.<span class="collapsed"><i
                        class="icon-plus-circle"></i></span><span class="expanded"><i
                        class="icon-minus-circle"></i></span></a>
                  </div>
                  <div id="menu5" class="collapse">
                    <div class="card-body">
                      <p>So are we!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

{% endblock %}