{% extends "layout.html" %}
{% block title_block %}Create a snack{% endblock %}
{% block body_raw %}

    <section class="ftco-section bg-light">
        <div class="container">
            <form class="p-5 bg-white" onsubmit="createSnack(this,'{{ selected_snack_brand }}');return false;"
                          name="create_snack" enctype = "multipart/form-data" id="create-snack-form">
                <div class="row">
                    <div class="col-md-12 col-lg-8 mb-5">
                        {{ form.hidden_tag() }}

                        <div class="row form-group">
                            <div class="col-md-5">
                                {{ form.snack_name.label(class='font-weight-bold') }}
                                {{ form.snack_name(class='form-control', placeholder="eg. Cheesy, etc", id="snack_name") }}
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-5">
                                {{ form.snack_brand.label(class='font-weight-bold') }}
                                {% if current_user.company_name and selected_snack_brand != "" and
                                    selected_snack_brand != "from Search" %}
                                    {% set selected_brand = selected_snack_brand %}
                                    {{ form.snack_brand(class='form-control', readonly=true, id='snack_brand',
                                            value=selected_brand) }}
                                    <span class="pl-1" style="font-size: 10px">
                                        Creating a Snack with your desired Brand
                                    </span>
                                {% else %}
                                    {{ form.snack_brand(class='form-control', placeholder='eg. Cheetos, etc',
                                        id='snack_brand') }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-5">
                                {{ form.category.label(class='font-weight-bold') }}
                                {{ form.category(class='form-control', id="category") }}
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-5">
                                {{ form.available_at_location.label(class='font-weight-bold') }}
                                {{ form.available_at_location(class='form-control', id="available_at_location") }}
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form.description.label(class='font-weight-bold') }}
                                {{ form.description(class='form-control', placeholder="Describe your snack", id="description") }}
                            </div>
                        </div>

                        <div class="row form-group"></div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <input class="btn btn-primary px-3 px-lg-5" type="submit" name="submit" value="Submit">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="p-4 mb-3 bg-white text-center">
                            <h3 class="h5 text-black mb-3">Upload photos of your Snack</h3>
                            <input id="snack-img" type = "file" name = "file" class="btn btn-secondary px-3 px-lg-5"/>
                        </div>
                    </div>
                </div>
            </form>
            {% if error %}
                <p class="error"><strong>Error:</strong>{{ error }}</p>
            {% endif %}
        </div>
    </section>
{% endblock %}