{% extends "layout.html" %}
{% block title_block %}Create a snack{% endblock %}
{% block body_raw %}


    <div class="hero-wrap"
       style="background-image: url({{ url_for('static', filename='images/bluesnackplates.png') }});">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
           data-scrollax-parent="true">
        <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a
              href="/index">Home</a></span> <span>Add Snack</span></p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Add Snack</h1>
        </div>
      </div>
    </div>
  </div>

    <section class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="form control">
                {% from "_formhelpers.html" import render_field %}
                <form method="POST" name="create_snack"
                    style="margin-left: auto;margin-right:auto;">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.snack_name.label(class='col-lg-2 control-label') }}
                        <div class="col-lg-9" style="width: 25%">
                         {{ form.snack_name(class='form-control') }}
                         <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.snack_brand.label(class='col-lg-2 control-label') }}
                        <div class="col-lg-9" style="width: 25%">
                         {{ form.snack_brand(class='form-control') }}
                         <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.category.label(class='col-lg-2 control-label') }}
                        <div class="col-lg-9" style="width: 25%">
                         {{ form.category(class='form-control') }}
                         <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.available_at_location.label(class='col-lg-2 control-label') }}
                        <div class="col-lg-9" style="width: 25%">
                         {{ form.available_at_location(class='form-control') }}
                         <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.description.label(class='col-lg-2 control-label') }}
                        <div class="col-lg-8">
                         {{ form.description(class='form-control', placeholder="Describe your snack") }}
                         <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-9">
                         <input class="btn btn-primary px-3 px-lg-5" type="submit" name="submit" value="Create">
                        </div>
                    </div>
                </form>
                {% if error %}
                    <p class="error"><strong>Error:</strong>{{ error }}</p>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}