{% extends "layout.html" %}
{% block title_block %}{{ title }}{% endblock %}
{% block body_raw %}


  <section class="ftco-section bg-light">

      <div class="container">

            <form class="p-5 bg-white" method="POST" name="review_snack">
                {{ form.hidden_tag() }}
                <div class="row form-group">
                    <div class="col-md-5">
                        {{ form.description.label(class='font-weight-bold') }}
                        {{ form.description(class='form-control', placeholder="Write a Review") }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        {{ form.overall_rating.label(class='font-weight-bold') }}
                        {{ form.overall_rating(class='form-control') }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        {{ form.sourness.label(class='font-weight-bold') }}
                        {{ form.sourness(class='form-control') }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        {{ form.spiciness.label(class='font-weight-bold') }}
                        {{ form.spiciness(class='form-control') }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        {{ form.saltiness.label(class='font-weight-bold') }}
                        {{ form.saltiness(class='form-control') }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        {{ form.bitterness.label(class='font-weight-bold') }}
                        {{ form.bitterness(class='form-control') }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        {{ form.sweetness.label(class='font-weight-bold') }}
                        {{ form.sweetness(class='form-control') }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                     <input class="btn btn-primary px-3 px-lg-5" type="submit" name="submit" value="Submit">
                    </div>
                </div>
            </form>

            {% if error %}
                <p class="error"><strong>Error:</strong>{{ error }}</p>
            {% endif %}

      </div>

  </section>

{% endblock %}