{% extends "layout.html" %}
{% block title_block %}About{% endblock %}
{% block body_raw %}
    <div class="hero-wrap js-fullheight" style="background-color: #ddd;">
{% block featured_snacks %}
    {% if resp %}
      <section class="ftco-section ftco-destination">
        <div class="container">
          <div class="row justify-content-start mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate">
              <span class="subheading">Featured</span>
              <h2 class="mb-4"><strong>Featured</strong> Snacks</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="destination-slider owl-carousel ftco-animate">
                
                  <div class="item">
                    <div class="destination">
                      <!-- TODO: We should a link to the appropriate snack image.
                         Search the snack on-click when the searching feature is implemented -->
                         <!-- TODO:   Fix this thingg-->
                        <img src="{{ resp }}">
                      <a href="#" class="img d-flex justify-content-center align-items-center"
                         style="background-image: url({{ resp }})">
                        <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search2"></span>
                        </div>
                      </a>
                      <!-- TODO: Add the reference to the snack page -->
                      <div class="text p-3">
                        <h3><a href="#">{{ snack.snack_name }}</a></h3>
                        <p class="rate">
                          <span style="color:orange; font-size:130%;">{{ snack.avg_overall_rating }}</span>
                          {% for n in range(5) %}
                            {% if n+1 <= snack.avg_overall_rating %}
                              <i class="icon-star"></i>
                            {% elif n+0.5 <= snack.avg_overall_rating %}
                              <i class="icon-star-half-empty"></i>
                            {% else %}
                              <i class="icon-star-o"></i>
                            {% endif %}
                          {% endfor %}
                          <span>({{ snack.review_count }})</span>
                        </p>
                      </div>
                    </div>
                  </div>
                
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endif %}
  {% endblock %}
    </div>
{% endblock %}