<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/snacker.css') }}">
</head>
<body>
  {% block editAccountBlock %}
    <div class="col-md-12 nav-link-wrap mb-5">
      <div class="nav ftco-animate nav-pills justify-content-center" id="v-pills-tab" role="tablist"
           aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-whatwedo-tab" data-toggle="pill" href="#v-pills-whatwedo"
           role="tab" aria-controls="v-pills-whatwedo" aria-selected="true">Account Details</a>
        <a class="nav-link" id="v-pills-mission-tab" data-toggle="pill" href="#v-pills-mission" role="tab"
           aria-controls="v-pills-mission" aria-selected="false">Update Details</a>
        <a class="nav-link" id="v-pills-goal-tab" data-toggle="pill" href="#v-pills-goal" role="tab"
           aria-controls="v-pills-goal" aria-selected="false">Update Password</a>
      </div>
    </div>
    <div class="col-md-12">
      <div class="tab-content ftco-animate" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-whatwedo" role="tabpanel"
             aria-labelledby="v-pills-whatwedo-tab">
            <div class="text-center font-weight-bold">
              {% if current_user.company_name %}
                <p class="h4 text-primary mb-3">Company Name</p>
                <p class="text-secondary">{{ current_user.company_name }}</p>
              {% endif %}
              <p class="h4 text-primary mb-3">Name</p>
              <p class="text-secondary">{{ current_user.first_name }} {{ current_user.last_name }}</p>
              <p class="h4 text-primary mb-3">Email</p>
              <p class="text-secondary">{{ current_user.email }}</p>
            </div>

        </div>

        <div class="tab-pane fade" id="v-pills-mission" role="tabpanel" aria-labelledby="v-pills-mission-tab">
          <form class="pl-4 pr-4" onsubmit="changeUserDetails(this);return false;" id="change_user_details"
            name="change_user_details">
            {{ edit_user_form.hidden_tag() }}
            {% if current_user.company_name %}
              <div class="row form-group justify-content-center">
                <div class="col-md-6">
                  {{ edit_user_form.company_name.label(class='font-weight-bold') }}
                  {{ edit_user_form.company_name(id='edit_company', class='form-control',
                    value=current_user.company_name) }}
                </div>
              </div>
            {% endif %}
            <div class="row form-group justify-content-center">
              <div class="col-md-6">
                {{ edit_user_form.first_name.label(class='font-weight-bold') }}
                {{ edit_user_form.first_name(id='edit_first', class='form-control', value=current_user.first_name) }}
              </div>
            </div>

            <div class="row form-group justify-content-center">
              <div class="col-md-6">
                {{ edit_user_form.last_name.label(class='font-weight-bold') }}
                {{ edit_user_form.last_name(id='edit_last', class='form-control', value=current_user.last_name) }}
              </div>
            </div>

            <div class="row form-group justify-content-center">
              <div class="col-md-6">
                {{ edit_user_form.email.label(class='font-weight-bold') }}
                {{ edit_user_form.email(id='edit_email', class='form-control', value=current_user.email) }}
              </div>
            </div>

            <div class="row form-group justify-content-center">
              <div class="col-md-6">
                {{ edit_user_form.submit(class='btn btn-primary px-3 px-lg-5', id='EditDetailsSubmit') }}
              </div>
            </div>

          </form>
          {% if error %}
            <p class="error"><strong>Error:</strong>{{ error }}</p>
          {% endif %}
        </div>

        <div class="pl-4 pr-4 tab-pane fade" id="v-pills-goal" role="tabpanel" aria-labelledby="v-pills-goal-tab">
          <form class="pl-4 pr-4" onsubmit="changePassword(this);return false;" id="change_password"
            name="change_password">

            <div class="row form-group justify-content-center">
              <div class="col-md-6">
                {{ edit_password_form.password.label(class='font-weight-bold') }}
                {{ edit_password_form.password(id='register_password', class='form-control', placeholder="••••••••••") }}
              </div>
            </div>

            <div class="row form-group justify-content-center">
              <div class="col-md-6">
                {{ edit_password_form.confirm.label(class='font-weight-bold') }}
                {{ edit_password_form.confirm(class='form-control', placeholder="••••••••••") }}
              </div>
            </div>

            <div class="row form-group justify-content-center">
              <div class="col-md-6">
                {{ edit_password_form.submit(class='btn btn-primary px-3 px-sm-4', id='PasswordSubmit') }}
              </div>
            </div>
          </form>
          {% if error %}
            <p class="error"><strong>Error:</strong>{{ error }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  {% endblock %}
</body>
</html>
