<!DOCTYPE html>
<html>
<body>
  {% block editAccountBlock %}
    <div class="container" style="width: 50%">

      <form class="p-4 mb-3 bg-white" onsubmit="authenticate(this);return false;" id="login_form"
            name="login">
        {{ edit_user_form.hidden_tag() }}

        <div class="row form-group">
          <div class="col-md-12">
            {{ edit_user_form.first_name.label(class='font-weight-bold') }}
            {{ edit_user_form.first_name(id='register_first', class='form-control', value=current_user.first_name) }}
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-12">
            {{ edit_user_form.last_name.label(class='font-weight-bold') }}
            {{ edit_user_form.last_name(id='register_last', class='form-control', value=current_user.last_name) }}
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-12">
            {{ edit_user_form.email.label(class='font-weight-bold') }}
            {{ edit_user_form.email(id='login_email', class='form-control', value=current_user.email) }}
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-12">
            {{ edit_user_form.submit(class='btn btn-primary px-3 px-lg-5') }}
          </div>
        </div>

      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong>{{ error }}</p>
      {% endif %}

    </div>


    <div class="container" style="width: 50%">
      <div class="row form-group">
        <div class="col-md-12">
          {{ edit_password_form.password.label(class='font-weight-bold') }}
          {{ edit_password_form.password(id='register_password', class='form-control', placeholder="••••••••••") }}
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-12">
          {{ edit_password_form.confirm.label(class='font-weight-bold') }}
          {{ edit_password_form.confirm(class='form-control', placeholder="••••••••••") }}
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-12">
          {{ edit_password_form.submit(class='btn btn-primary px-3 px-lg-5') }}
        </div>
      </div>

    </div>


  {% endblock %}
</body>
</html>