{% extends "layout.html" %}
{% block title_block %}Index{% endblock %}

{% block body_raw %}
  <div class="hero-wrap js-fullheight"
       style="background-image: url({{ url_for('static', filename='images/bluesnackplates.png') }});">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
           data-scrollax-parent="true">
        <div class="col-md-9 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
          <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><strong>Explore <br></strong>
            the snacks you need </h1>
          <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Discover the world of snacks and recommend
            yours to others</p>
          <div class="block-17 my-4" style="overflow: visible;">
            <form class="d-block d-flex" autocomplete="off" onsubmit="searchSnacks(this); return false;">
              <div class="fields d-block d-flex">
                <div class="textfield-search one-third autocomplete">
                  <input id="index_search_brand" type="text" class="form-control" placeholder="Brand: Cheetos etc." oninput="autocompleteListener(this, {{ snack_brands }})" onkeydown="autocompleteKeydown(event, this)">
                </div>
                <div class="textfield-search one-third">
                  <input id="index_search_name" type="text" class="form-control" placeholder="Name: Cheesy etc." oninput="autocompleteListener(this, {{ snack_names }})" onkeydown="autocompleteKeydown(event, this)">
                </div>
                <div class="select-wrap one-third">
                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                  <select name="" id="index_search_location" class="form-control" placeholder="Keyword search">
                    <option value="all">Where</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Austria">Austria</option>
                    <option value="Australia">Australia</option>
                    <option value="Brazil">Brazil</option>
                    <option value="USA">USA</option>
                    <option value="Canada">Canada</option>
                    <option value="UK">UK</option>
                    <option value="Mexico">Mexico</option>
                  </select>
                </div>
              </div>
              <input type="submit" class="search-submit btn btn-primary" value="Search">
            </form>
          </div>
          <p>Or browse by categories</p>
          <p class="browse d-md-flex">
            	<span class="d-flex justify-content-md-center align-items-md-center">
                    <a href="/find_snacks/category=Cookies">Cookies</a></span>
            <span class="d-flex justify-content-md-center align-items-md-center">
                    <a href="/find_snacks/category=Chips">Chips</a></span>
            <span class="d-flex justify-content-md-center align-items-md-center">
                    <a href="/find_snacks/category=Chocolate">Chocolate</a></span>
            <span class="d-flex justify-content-md-center align-items-md-center">
                    <a href="/find_snacks/category=Candies">Candies</a></span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section services-section bg-light">
    <div class="container" style="margin-top:-10px;">
      <div class="row d-flex">
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center">
              <div class="icon"><span class="flaticon-guarantee"></span></div>
            </div>
            <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3">Personalized Recommendor</h3>
              <p>Recommend snacks to you based on your personal taste</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center">
              <div class="icon"><span class="flaticon-like"></span></div>
            </div>
            <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3">Travellers Love Us</h3>
              <p>Discover local snacks in a foreign country</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center">
              <div class="icon"><span class="flaticon-detective"></span></div>
            </div>
            <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3">Snack Expert</h3>
              <p>Browse and review any snacks you want</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center">
              <div class="icon"><span class="flaticon-support"></span></div>
            </div>
            <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3">Business Welcome</h3>
              <p>Discover how customers think of your snacks and advertise with us</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% block featured_snacks %}
    {% if featured_snacks %}
      <section class="ftco-section ftco-destination">
        <div class="container">
          <div class="row justify-content-start mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate">
              <span class="subheading">Featured</span>
              <h2 class="mb-4"><strong>Featured</strong> Snacks</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="destination-slider owl-carousel ftco-animate">
                {% for snack in featured_snacks %}
                  <div class="item">
                    <div class="destination">
                      <a href="/find_snacks/snack_name={{ snack.snack_name }}"
                         class="img d-flex justify-content-center align-items-center"
                         style="background-image: url({{ url_for('serve_img', snack_id=snack.id) }}">
                        <div class="icon d-flex justify-content-center align-items-center">
                          <span class="icon-search2"></span>
                        </div>
                      </a>
                      <div class="text">
                        <h3><a href="/find_snacks/snack_name={{ snack.snack_name }}">{{ snack.snack_name }}</a></h3>
                        <p class="rate">
                          <span style="color:orange; font-size:130%;">{{ snack.avg_overall_rating }}</span>
                          {% for n in range(5) %}
                            {% if n+1 <= snack.avg_overall_rating %}
                              <i class="icon-star"></i>
                            {% elif n+0.5 <= snack.avg_overall_rating %}
                              <i class="icon-star-half-empty"></i>
                            {% else %}
                              <i class="icon-star-o"></i>
                            {% endif %}
                          {% endfor %}
                          <span style="color: black;">({{ snack.review_count }})</span>
                        </p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endif %}
  {% endblock %}

  {% block fun_facts %}
    <section class="ftco-section ftco-counter img" id="section-counter"
             style="background-image: url({{ url_for('static', filename='images/bg_1.jpg') }});">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
            <h2 class="mb-4">Some fun facts</h2>
            <span class="subheading">This application was created as a university course project!</span>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div class="row">
              {% for facts in interesting_facts %}
                <div
                    class="col-md-{{ 12//(interesting_facts|length) }} d-flex justify-content-center counter-wrap ftco-animate">
                  <div class="block-18 text-center">
                    <div class="text">
                      <strong class="number" data-number="{{ facts[1] }}">0</strong>
                      <span>{{ facts[0] }}</span>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}

  {% if not current_user.is_authenticated %}
    <section class="ftco-section-parallax" id="join_us">
      <div class="parallax-img d-flex align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
              <h2>Join Us</h2>
              <p>Register to get the most of our app! :)</p>
              <div class="row d-flex justify-content-center mt-5">
                <div class="col-md-8">
                  <form class="subscribe-form" onsubmit="indexRegister(this); return false;">
                    <div class="form-group d-flex">
                      <input id="index_email" type="text" class="form-control" placeholder="Enter email address">
                      <input type="submit" value="Register" class="submit px-3">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}
{% block extra_js %}
  <script>    
  document.addEventListener("click", function (e) {
    closeAllLists(e.target);
  });
  </script>
{% endblock %}
