{% extends "layout.html" %}
{% block title_block %}Register{% endblock %}
{% block body_raw %}

    <div class="hero-wrap"
         style="background-image: url({{ url_for('static', filename='images/bluesnackplates.png') }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
                data-scrollax-parent="true">
                <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a
                            href="/index">Home</a></span> <span>Register</span></p>
                    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Register</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="form control">
                <form onsubmit="register_user();return false;" name="register">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.first_name.label(class='col-lg-2 control-label') }}
                        <div class="col-lg-9" style="width: 25%">
                         {{ form.first_name(class='form-control') }}
                         <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.last_name.label(class='col-lg-2 control-label') }}
                        <div class="col-lg-9" style="width: 25%">
                         {{ form.last_name(class='form-control') }}
                         <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class='col-lg-2 control-label') }}
                        <div class="col-lg-9" style="width: 30%">
                         {{ form.email(class='form-control') }}
                         <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.is_company.label(class='col-lg-2 control-label') }}
                        <div class="col-lg-9" style="width: 30%">
                            {{ form.is_company(class='form-control',value="Are you a company or a distributor?") }}
                         <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class='col-lg-2 control-label') }}
                        <div class="col-lg-9" style="width: 30%">
                            {{ form.password(class='form-contorl',id="register_password") }}
                         <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.confirm.label(class='col-lg-2 control-label') }}
                        <div class="col-lg-9" style="width: 30%">
                            {{ form.confirm(class='form-control') }}
                         <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.accept_tos.label(class='col-lg-2') }}
                        <div class="col-lg-9" style="width: 30%">
                            {{ form.accept_tos(value="yes") }}
                         <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-9">
                         <input class="btn btn-primary px-3 px-5" type="submit" name="submit" value="Register">
                        </div>
                    </div>
                </form>

                {% if error %}
                  <p class="error"><strong>Error:</strong>{{ error }}</p>
                {% endif %}
            </div>
        </div>
    </section>


{#    </div>#}
{#    {% from "_formhelpers.html" import render_field %}#}
    {#  Don't change the funciton name back to register, then js can't find the function  #}
{#    <form onsubmit="register_user();return false;" name="register"#}
{#          style="margin-left: auto;margin-right:auto;text-align:center;margin-top:100px;">#}
{#      {{ form.hidden_tag() }}#}
{#      <div class="form-group" style="color:white;">#}
{#        {{ render_field(form.first_name, id="register_first") }}#}
{#        {{ render_field(form.last_name, id="register_last") }}#}
{#        {{ render_field(form.email, id="register_email") }}#}
{#        <label style="color:black;">{{ form.is_company.label }}</label>#}
{#        {{ form.is_company(value="Are you a company or a distributor?") }}#}
{#        {{ render_field(form.password, id="register_password") }}#}
{#        {{ render_field(form.confirm) }}#}
{#        <label style="color:black;">{{ form.accept_tos.label }}</label>#}
{#        {{ form.accept_tos(value="yes") }}#}
{#      </div>#}
{#      <input class="btn btn-primary" type="submit" name="submit" value="submit">#}
{#    </form>#}
{##}
{#    {% if error %}#}
{#      <p class="error"><strong>Error:</strong>{{ error }}</p>#}
{#    {% endif %}#}
{#  </div>#}
{% endblock %}