{% extends "search_query.html" %}
{% block title_block %}Snacker{% endblock %}

{% block reviews %}
{% for review in reviews %}
  <div class="review">
    <div class="review-user">
      <span>User: {{ review.user_id }}</span>
    </div>
    <div class="review-overall-rating">
      {% for n in range(5) %}
        {% if n+1 <= review.overall_rating %}
        <i class="icon-star"></i>
        {% elif n+0.5 <= review.overall_rating %}
        <i class="icon-star-half-empty"></i>
        {% else %}
        <i class="icon-star-o"></i>
        {% endif %}
      {% endfor %}
    </div>
    <div class="review-description">
      <p>{{ review.description }}</p>
    </div>
  </div>
  <hr>
{% endfor %}

{% if (current_user.is_authenticated and not current_user.company_name and not reviewed) %}
    <div class="row">
        <div class="col-md-12 ftco-animate">
          <div id="accordion">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#menuone" aria-expanded="false"
                       aria-controls="menuone" style="color: #f85959;">Write Review <span class="collapsed"><i
                        class="icon-plus-circle" style="color: #f85959;"></i></span><span class="expanded"><i
                        class="icon-minus-circle" style="color: #f85959;"></i></span></a>
                  </div>
                  <div id="menuone" class="collapse">
                    <div class="card-body">
                      <h3>Please Write the review below</h3>
                      <form class="p-5 bg-white" onsubmit="createReview(this,'{{ query.first().id }}');return false;" name="review_snack">
                        {{ form.hidden_tag() }}
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form.description.label(class='font-weight-bold') }}
                                {{ form.description(class='form-control', placeholder="Write a Review", id="description") }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                {{ form.overall_rating.label(class='font-weight-bold') }}
                                {{ form.overall_rating(class='form-control', id="overall_rating") }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                {{ form.sourness.label(class='font-weight-bold') }}
                                {{ form.sourness(class='form-control', id="sourness") }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                {{ form.spiciness.label(class='font-weight-bold') }}
                                {{ form.spiciness(class='form-control', id="spiciness") }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                {{ form.saltiness.label(class='font-weight-bold') }}
                                {{ form.saltiness(class='form-control', id="saltiness") }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                {{ form.bitterness.label(class='font-weight-bold') }}
                                {{ form.bitterness(class='form-control', id="bitterness") }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                {{ form.sweetness.label(class='font-weight-bold') }}
                                {{ form.sweetness(class='form-control', id="sweetness") }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                             <input class="btn btn-primary px-3 px-lg-5" type="submit" name="submit" value="Submit">
                            </div>
                        </div>
                      </form>

                      {% if error %}
                        <p class="error"><strong>Error:</strong>{{ error }}</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% elif current_user.is_authenticated and current_user.company_name and not verified%}
    <div class="row">
        <div class="col-md-12 ftco-animate">
          <div id="accordion">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#menutwo" aria-expanded="false"
                       aria-controls="menutwo" style="color: #f85959;">Verify this snack<span class="collapsed"><i
                        class="icon-plus-circle" style="color: #f85959;"></i></span><span class="expanded"><i
                        class="icon-minus-circle" style="color: #f85959;"></i></span></a>
                  </div>
                  <div id="menutwo" class="collapse">
                    <div class="card-body">
                      <button onclick="verify_snack('{{ query.first().id }}')" class="verify-button">
                          Yes this snack is legit and belongs to my company, please verify it!</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endif %}

{% endblock %}
