/*Account page*/
.account_basics {
  padding-top: 10px !important;
  margin: auto;
  border: 3px solid green;
  text-align: center;
}

.text-center {
  text-align: center;
}

/*Search results*/
.snack-query-title {
  font-size: 1.5em;
  float: left;
  width: 80%;
}
.snack-query-brand {
  font-size: 1em;
  float: left;
}

.query-description {
  width: 50%;
  float: left;
}

.query-overall-rating {
  float: left;
  font-size: 1.2em;
  width: 30%;
}

.query-overall-rating i {
  color: red;
}

.review-overall-rating i {
  color: red;
}

.query .item {
  height: 220px;
}

.query-ratings {
  float: right;
  width: 30%;
  font-size: 1.2em;
}

.sourness i {
  color: Gold;
}

.spiciness i {
  color: OrangeRed;
}

.bitterness i {
  color: LimeGreen;
}

.sweetness i {
  color: Blue;
}

.saltiness i {
  color: LightSlateGrey;
}

.verify-button {
    background-color:  #f85959;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}