/*Account page*/
.account_basics {
  padding-top: 10px !important;
  margin: auto;
  border: 3px solid green;
  text-align: center;
}

.text-center {
  text-align: center;
}
/*Snack page on hover add to wish list */
.containero {
    position: relative;
    width: 50%;
}

.imageo {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containero:hover .image {
  opacity: 0.3;
}

.containero:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/*Search results*/
.snack-query-title {
  font-size: 1.5em;
  float: left;
  width: 80%;
}
.snack-query-brand {
  font-size: 1em;
  float: left;
}

.query-description {
  width: 50%;
  float: left;
}

.query-overall-rating {
  float: left;
  font-size: 1.2em;
  width: 30%;
}

.query-overall-rating i {
  color: red;
}

.review-overall-rating i {
  color: red;
}

.query .item {
  height: 220px;
}

.query-ratings {
  float: right;
  width: 30%;
  font-size: 1.2em;
}

.sourness i {
  color: Gold;
}

.spiciness i {
  color: OrangeRed;
}

.bitterness i {
  color: LimeGreen;
}

.sweetness i {
  color: Blue;
}

.saltiness i {
  color: LightSlateGrey;
}

.verify-button {
    background-color:  #f85959;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 100%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  color: black;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}